.flex-container{
    display:flex;
    border:3px solid blue;
    padding: 8px;
    background-color: black;
    flex-direction: column;
    flex-grow: 3;
    height: 100vh;
}
.flex-container>div{
    background: peachpuff;
    border: 4px solid brown;
    flex:1;
    margin:5px;
    width: auto;
    height: 500px;
}
#flex-container-two{
    display: flex;
    border:3px solid blue;
    padding: 8px;
    background-color: rgb(45, 18, 18);  
}
#flex-container-two>div{
    background: yellow;
    border: 4px solid rosybrown;
    height: auto;
    width: auto;
    flex:2;
    margin:6px;
}
#flex-container-three{
    display: flex;
    border:3px solid rgb(54, 54, 116);
    padding: 8px;
    background-color: rgb(192, 182, 182); 
}
#flex-container-three #flex-container-four > div{
    display: flex;
    padding: 8px;
    border:3px solid rgb(54, 54, 116);
    background-color: rgb(211, 93, 93); 
    flex-direction: column;
    flex: 4;
    margin:2px;
}
#flex-container-three #flex-container-five >div{
    display: flex;
    padding: 8px;
    margin:2px;
    border:3px solid rgb(54, 54, 116);
    background-color: rgb(211, 93, 93); 
    flex-direction: column;
    flex: 4;
}